@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

h1, h2, h3 {
  @apply font-sans;
  text-transform: uppercase;
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

p {
  @apply font-serif text-3xl;
}

.btn {
  @apply bg-transparent border-blue border-2 rounded shadow py-2 px-4 text-xl;
}

.btn:hover {
  @apply bg-blue rounded shadow py-2 px-4 text-xl;
}

.toggle__dot {
  top: -.25rem;
  left: -.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: #71eeb8;
}
