@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.btn {
  @apply bg-transparent text-blue border-blue border-2 rounded shadow py-2 px-4 text-xl;
}

.btn:hover {
  @apply bg-blue text-white;
}

@variants dark {
  .btn {
    @apply text-green border-green;
  }
}

@variants dark-hover {
  .btn {
    @apply text-dark bg-green;
  }
}

.toggle__dot {
  top: -.25rem;
  left: -.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: #71eeb8;
}
